.contactContent section {
  margin-left: calc(375px - 250px);
  max-width: 425px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.top_btn {
  display: flex;
  gap: 24px;
}
.contactContent .form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form_control input {
  height: 40px;
  padding: 0 8px;
  margin-top: 10px;
}
.form_control label {
  position: relative;
  top: 25px;
  left: 10px;
  padding: 10px 10px 5px 5px;
  width: fit-content;
  background-color: white;
}
.form_control textarea {
  margin-top: 10px;
}
div section {
  position: relative;
  bottom: 30px;
}
.contactContent img {
  margin-bottom: 400px;
}
.contactContent img {
  position: absolute;
  bottom: 35px;
  left: 700px;
  top: -70px;
}
